<div class="container">
  <h3 mat-dialog-title *ngIf="flag === 1">Dodavanje odeljenja: </h3>
  <h3 mat-dialog-title *ngIf="flag === 2">Modifikacija odeljenja: {{data.naziv}} </h3>
  <h3 mat-dialog-title *ngIf="flag === 3">Brisanje odeljenja: {{data.naziv}} </h3>

  <form class="mat-dialog-content">
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Naziv" [(ngModel)]="data.naziv" name="naziv" [disabled]="flag === 3" required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Lokacija" [(ngModel)]="data.lokacija" name="lokacija" [disabled]="flag === 3" required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <mat-select
          [compareWith]="compare"
          placeholder="Bolnica"
          name="bolnica"
          [disabled]="flag === 3"
          [(ngModel)]="data.bolnica"
          required
        >
          <mat-option *ngFor="let bolnica of bolnice" [value]="bolnica">
            {{ bolnica.naziv }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="btn-group">
      <button mat-button *ngIf="flag === 1" type="submit" (click)="add()">Sacuvaj</button>
      <button mat-button *ngIf="flag === 2" type="submit" (click)="update()">Sacuvaj</button>
      <button mat-button *ngIf="flag === 3" type="submit" (click)="delete()">Obrisi</button>
      <button mat-button (click)="cancel()">Ponisti</button>
    </div>
  </form>
</div>
