<mat-toolbar color="primary">
    <span class="title-center">O meni</span>
</mat-toolbar>

<main class="about-container">
    <div class="profile-pic">
        <img src="/imgs/slika.JPG" alt="Moja slika">
    </div>

    <div class="info">
        <h2>Stefan Milinkov</h2>
        <p><strong>Godine:</strong> 22</p>
        <p><strong>Fakultet:</strong> Fakultet tehničkih nauka</p>
        <p><strong>Smer:</strong> Inženjerstvo informacionih sistema</p>
        <p><strong>Broj indeksa:</strong> IT 47/2022</p>
        <p><strong>O meni:</strong> Student sam treće godine, zainteresovan za web programiranje i razvoj aplikacija.</p>
        <p><strong>Hobiji:</strong> Trening, učenje novih tehnologija.</p>
    </div>
</main>
