.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  padding: 8px;
}

.form {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}
